[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
bootstrap-admin = "*"
pillow = "*"
"django-bootstrap3" = "*"
django-crispy-forms = "*"
django-hitcount = "*"
gunicorn = "*"
whitenoise = "*"


[dev-packages]

# Pipfile


[requires]

python_version = "3.6"
